
<!-- 

imu相对于激光雷达的安装位姿 矩阵
-0.0264858, 0.00808116, 0.370056, 0.02505525, -0.02506014, 0.03765112

  rpy="-0.028453292 0.012453292 0" 这里的rpy为imu的安装位置的 姿态静差 
 -->
<?xml version='1.0'?>

    <robot name="robot">

    <material name="orange">
      <color rgba="1.0 0.5 0.2 1" />
    </material>
    <material name="gray">
      <color rgba="0.2 0.2 0.2 1" />
    </material>
    <material name="blue">
      <color rgba="0 0.5 1 1" />
    </material>

    <link name="base_link" >
      <origin rpy="-0.036453292 0.012453292 0"/>
    </link>

    <link name="imu_link">
      <visual>
        <geometry>
          <box size="0.06 0.04 0.02" />
        </geometry>
        <material name="orange" />
      </visual>
    </link>

    <link name="laser_link">
      <visual>
        <geometry>
          <box size="0.05 0.05 0.07" />
        </geometry>
        <material name="gray" />
      </visual>
    </link>


    <joint name="imu_link_joint" type="fixed">
      <parent link="base_link" />
      <child link="imu_link" />
      <origin xyz="0.2035142 0.00808116 0.922056" rpy="-0.001398042 -0.012606848 0.02765112"/>
    </joint>

    <joint name="laser_link_joint" type="fixed">
      <parent link="base_link" />
      <child link="laser_link" />
      <origin xyz="0.23 0.0 0.452" rpy="-0.010453292 0.012453292 0.010453292"/>
    </joint>

</robot>

