<launch>
    <node pkg="rviz"  type="rviz"  name="rviz"  args="-d $(find lio_slam)/rviz/matching.rviz"></node>
    <node pkg="lio_slam"  type="data_pretreat_node"  name="data_pretreat_node"  output="screen"></node>
    <node pkg="lio_slam"  type="matching_node"  name="matching_node"  output="screen"></node>
</launch>